/*font-family: 'Architects Daughter', cursive;
font-family: 'Bangers', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Istok Web', sans-serif;  */


#contenido{
    width: 1000px;
    height: auto;
    margin: auto;
    position: relative;
    


}
body {
    background-image: url(../img/fondo1.jpg);
}

h1{
font-family: 'Architects Daughter', cursive;
color: black;
margin-left: 10px;
font-size: 30px;
text-align: center; 
}

h2{
font-family: 'Indie Flower', cursive;
color: black;
margin-left: 10px;
font-size: 25px;
text-align: center; 
}

h3{
font-family: 'Istok Web', sans-serif;
color: black;
font-size: 20px;
text-align: center;
line-height: 12px; 
}

nav{
width: 1000px;
height: 50px;
background: #FF4500;
border-radius: 10px;

}
ul{
margin: auto;
padding-top: 4px;
}

li{
    float: left;
    list-style-type: none;
    padding: 10px;
    background: #DAA520;
    margin: 3px;
    border-radius: 10px;
    box-shadow: 0 0 10px white inset; }

section{
    width: 700px;
    height: auto;
    float: left;
    margin-top: 20px;
    background:     #FAEBD7;
    margin-bottom: 10px;

}


aside{

    width: 280px;
    background:     #F0FFFF;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

IMG.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;}

    a{
    text-decoration: none;
}

form{    
    margin-left: 20px;     
    margin-top: 20px;    
    margin-bottom: 20px;
    } 
input:focus {
  border: 2px solid #000;
  background: #F3F3F3;
}



footer{ 
width: 1000px;
height: auto;
background: #D3D3D3;
float: left;
margin-bottom: 20px;
margin-top: 20px;
}

p{
font-family: 'Istok Web', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    line-height: 24px;
    padding: 10px;
    text-align: justify;
    
}
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}



